@font-face {
  font-family: 'djb_chalk_it_upregular';
  src: url('../fonts/djb_chalk_it_up-webfont.woff') format('woff2'),
       url('../fonts/djb_chalk_it_up-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'djb_chalk_it_upregular', sans-serif;
}


header {
  /* outline: 1px solid yellow; */
  width: 100%;
  margin: 0 auto;
  height: 150px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
  align-content: stretch;
}

.logo {
  margin-left: 20px;
  padding: 13px 0 0 30px;
}

.start-game {
  font-family: 'djb_chalk_it_upregular', sans-serif;
  width: 250px;
  height: 60px;
  margin: 10px 45px 0 0;
  font-size: 35px;
}

button {
  align-self:center;
  background:#fff;
  transition:all .5s ease;
  color:#000;
  font-size:2rem;
  letter-spacing:1px;
  outline:none;
  box-shadow: 20px 38px 34px -26px rgba(247, 241, 241, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

button:hover {
  box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
  border:solid 7px #e7622d;
}

.gameOver h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40%;
}

.hide {
  z-index: -1;
}

.wrapper {
  background-image:url(../images/blackboard.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 30px auto;
  /* outline: 1px solid red; */
  max-width: 1000px;
  width: 100%;
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
  align-content: stretch;
}

.top {
  /* outline: 1px solid pink; */
  width: 100%;
  height: 60px;
}

.word-status {
  color: #fff;
  text-align: center;
  font-size: 50px;
  margin: 0;
  letter-spacing: 10px;
}

.man-hanged {
  /* outline: 1px dashed blue; */
  text-align: center;
  width: 100%;
  display: flex;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;

}

#hangman {
  /* outline: 1px solid green; */
  display: flex;
  padding: 80px 80px;
}

#game-status {
  /* outline: 1px solid pink; */
  width: 400px;
  height: 300px;
}

.happy, .sad {
  width: 100px;
}

img.hideImg {
  display: none;
}

.message {
  font-size: 50px;
  padding: 10px 10px;
  line-height: 60px;
  color: #fff;
  margin: 0px;
}

.red {
  color: #e7622d;
}

.keyboard-wrapper{
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
  /* width: 59%; */
}

.keyboard {
  /* outline: 1px solid blue; */
  max-width: 600px;
  /* background-color: #c6c6c6; */
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.key {
/* outline: 1px solid black; */
border: 2px solid black;
background-color: #f3f3f3;
width: 40px;
height: 40px;
padding: 5px;
margin: 2px;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: space-around;
font-size: 30px;
}

.key:hover {
background-color: #e4a085;
}

.change-key-color {
  background-color: #e7622d;
}

.change-key-color:hover {
  background-color: #e7622d;
}
