body {
  margin: 0;
  padding: 0;
}

header {
  /* outline: 1px solid yellow; */
  width: 90%;
  margin: 0 auto;
  height: 150px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
  align-content: stretch;
  max-width: 1200px;
}

.logo {
  margin-left: 20px;
}

.start-game {
  width: 250px;
  height: 60px;
  margin-right: 20px;
  font-size: 25px;
}

.gameOver {
  /* outline: 1px double blue; */
  width: 100%;
  height: 800px;
  position: 150 0;
  z-index: 1;
}

.gameOver h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40%;
}

.grey {
  background-color: #c6c6c6;
}

.hide {
  z-index: -1;
}

.wrapper {
  margin: 30px auto;
  /* outline: 1px solid red; */
  max-width: 1200px;
  width: 90%;
  height: 800px;
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
  align-content: stretch;
}

.top {
  /* outline: 1px solid pink; */
  width: 100%;
  height: 60px;
}

.word-status {
  text-align: center;
  font-size: 50px;
  margin: 0;
  letter-spacing: 10px;
}

.man-hanged {
  /* outline: 1px dashed blue; */
  text-align: center;
  height: 68%;
  width: 100%;
  display: flex;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;

}

#hangman {
  /* outline: 1px solid green; */
  display: flex;
  padding: 80px 80px;
}

#game-status {
  /* outline: 1px solid pink; */
  width: 400px;
  height: 420px;
}

.message {
  font-size: 30px;
  padding: 80px 20px;
  line-height: 50px;
}

.keyboard-wrapper{
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 75%
}

.keyboard {
  /* outline: 1px solid blue; */
  width: 72%;
  background-color: #c6c6c6;
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
  padding: 5px;
  border-radius: 10px;
}

.key {
/* outline: 1px solid black; */
border: 2px solid black;
background-color: #f3f3f3;
width: 40px;
height: 40px;
padding: 5px;
margin: 2px;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: space-around;
font-size: 20px;
}

.key:hover {
background-color: lightpink;
}

.change-key-color {
  background-color: red;
}

.change-key-color:hover {
  background-color: red;
}

